.profile_wrap_loader {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.profile_wrap {
  display: flex;
  gap: 20px;
  position: relative;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid var(--light);
}

.profile_user_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile_edit_btn {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
