.sign_page_wrap {
  display: flex;
  background: var(--light);
  height: 100vh;

  & .sign_image {
    flex: 1;
    background: #8ab4ff url("../../assets/images/signup_image.jpg") no-repeat center left;
    background-size: contain;
  }

  & .sign_form_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    position: absolute;
    top: 20px;
    right: 20px;
    height: calc(100% - 40px);
    padding: 0 90px;
    border-radius: 20px;

    & .sign_form {

      & .sign_form_title {
        text-align: center;
        font-family: "Roboto Slab", serif;
        margin-bottom: 20px;
      }

      & form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & .sign_form_input {
          width: 300px;
        }

        & .sign_remember_field {
          display: flex;
          align-items: center;
          gap: 5px;

          & .sign_remember_label {
            cursor: pointer;
          }
        }

        & .sign_text_login {
          margin-top: 20px;
          text-align: center;

          & .sign_link_login {
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
