.image_user_wrap {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--light-grey);
  position: relative;

  & .image_user {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  & .image_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;

    & path {
      stroke: var(--grey);
    }
  }
}
